.image-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.image-preview-content {
  position: relative;
  width: 80%;
  height: 80%;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close-preview-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prev-button,
.next-button {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  transform: scale(1.1);
}
